@import "tailwindcss";

@theme {
  --color-green-dark: #9DDDB8;
  --color-green: #B6DEB9;
  --color-green-light: #CEEBD1;
  --color-orange: #D3542E;
  --color-gray: #D9D9D9;
  --color-gray-dark: #4D4D4D;
}